@model List<LaptopStore.Models.Home.Product>

@{

	Layout = null;
}

        <!-- dùng vòng lặp forEach tại đây -->
        @foreach (var product in Model)
        {
            <div class="laptopItem col-6 col-md-3 mb-4">
                <div class="card">
                    <div class="card-body" style="margin-top: -13px">
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@product.ProductId" style="text-decoration: none; color: black">
                            <div class="d-flex justify-content-center">
                                <img src="@product.Image"
                                     class="cardImg card-img-top"
                                     alt="..." />
                            </div>
                            <h6 class="name mb-2 card-title" style="padding-left: 30px">
                                @product.Name
                            </h6>

                            <div class="spec mb-2 bg-info-subtle rounded-1 d-flex flex-wrap"
                                 style="padding-left: 24px">
                                <div class="me-3 ms-1">
                                    <i class="bi bi-cpu-fill me-1"></i>@product.productdetail.Cpu
                                </div>
                                <div class="me-3 ms-1">
                                    <i class="bi bi-gpu-card me-1"></i>@product.productdetail.Gpu
                                </div>
                                <div class="me-3 ms-1">
                                    <i class="bi bi-memory me-1"></i>@product.productdetail.Ram gb
                                </div>
                                <div class="me-3 ms-1">
                                    <i class="bi bi-device-ssd-fill me-1"></i>@product.productdetail.Drive gb
                                </div>
                                <div class="me-3 ms-1">
                                    <i class="bi bi-tv me-1"></i>@product.productdetail.Size in
                                </div>
                            </div>

                            <div class="price text-danger text-center">
                                <span id="price">
                                    @product.Price.ToString("#,##0") đ
                                </span>
                            </div>

                            <div class="vote mb-1 d-flex justify-content-center">
                                <span class="text-warning me-1">0.0</span>
                                <i class="bi bi-star-fill text-warning me-1"></i> (0 đánh
                                giá)
                            </div>
                        </a>
                        <div class="col d-flex justify-content-between">
                            <a href="${pageContext.request.contextPath}/buyNow?productId=${laptop.laptopId}"
                               class="btn btn-outline-primary"
                               style="font-size: 13px">
                                Mua Ngay
                            </a>
                            <button onclick="addToCart()"
                                    title="thêm vào giỏ hàng"
                                    class="btn btn-outline-primary"
                                    style="font-size: 13px">
                                <i class="bi bi-cart-plus-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }